/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
   font-family: 'Ubuntu', sans-serif;
   font-size: 100%;
   background:#e9882a;; 
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

.bottom {
	margin-top: 2em;
	padding-bottom: 2em;
}
.logo {
	margin-top: 36px;
}
.bottom-left h1{
	color:#fff;
	font-weight:500;
	font-size:1.6em;
	margin:0px;
}
.bottom-left p.paragraph{
	color:#fff;
	font-weight:100;
	font-size:15px;
	width:90%;
	line-height: 1.6em;
	margin:25px 0px;
}
.bottom-left h3 {
	color: #fff;
	font-weight: 500;
	font-size: 1.1em;
	margin: 0px;
}
.bottom-left p.paragraph1{
	color: #fff;
	font-weight: 100;
	font-size: 14px;
	margin-top:20px;
}
.bottom-left {
	margin-top: 15px;
}
.bottom-right-top {
	background: #fff;
	padding: 30px 0px;
	border-radius: 0.3em;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	position: relative;
	margin-top: 3.4em;
}

.footer{
	padding:1em 0px;
	background:#2a2a2a;
}
.footer-left{
	text-align:left;
	margin-top: 3px;
}
.footer-left p{
	color:#656565;
	font-size:15px;
	font-weight:400;
	line-height: 24px;
}
.footer-left p a{
	color:#de7004;
}
.footer-left p a:hover{
	color:#656565;
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.footer-right{
	text-align:right;
	margin-top: 4px;
}

@media(max-width:1366px){
}
@media(max-width:1280px){
.logo {
	margin-top: 3.5em;
}
.top {
	padding: 27px 25px;
	width: 42.5%;
}
.bottom {
	margin-top: 1em;
	padding-bottom: 1em;
}	
}
@media(max-width:1024px){
.bottom-middle img {
	width: 100%;
}
.top {
	padding: 25px 12px;
	width: 46.5%;
}
.top ul li {
	margin: 0px 5px;
}
.top ul li p {
	margin-left: 4px;
	font-size: 16px;
}
.top ul li p a {
	font-size: 16px;
}
.bottom-left {
	margin-top: 9%;
}
.bottom-left p.paragraph {
	margin: 18px 0px;
}
.bottom-left p.paragraph1 {
	margin-top: 14px;
}
.bottom-right-top-right p {
	width: 100%;
	height: 53px;
	overflow: hidden;
	margin-top: 15px;
}
.bottom-right-top-right h3 {
	font-size: 1.3em;
}
.bottom-right-top-left {
	padding-left: 29px;
	margin-top: 7px;
}
.bottom-right-top {
	padding: 25px 0px;
	margin-top: 3em;
}
.bottom-right-top:after {
	top: 86px;
}

body {
	min-height: 800px;
}
}
@media(max-width:768px){
.logo img {
	width: 21%;
}
.top ul li p {
	margin-left: 3px;
	font-size: 15px;
}
.top ul li p a {
	font-size: 15px;
}
.top {
	padding: 20px 8px;
	width: 52.5%;
}
.top ul li {
	margin: 0px 2px;
}
.logo {
	margin-top: 1.5em;
}
.bottom-left {
	margin-top: 4%;
	text-align: center;
}
.bottom-left p.paragraph {
	margin: 15px auto;
}
.bottom-left ul li {
	width: 27%;
	margin: 8px auto;
}
.bottom-left h1 {
	font-size: 1.5em;
}
.footer-left {
	margin-top: 5px;
	width: 50%;
	float: left;
}
.footer-right {
	margin-top: 6px;
	width: 50%;
	float: right;
}
.header-main {
	padding-bottom: 3.5em;
}
}
@media(max-width:640px){
.top ul li p {
	margin-left: 1px;
	font-size: 14px;
}
.top ul li p a {
	font-size: 14px;
}
.top ul li {
	margin: 0px 2px;
}
.top {
	padding: 15px 4px;
	width: 58%;
}
.logo img {
	width: 23%;
}
.bottom-left h1 {
	font-size: 1.4em;
}
.bottom-left p.paragraph {
	margin: 10px auto;
}
.bottom-left ul li {
	width: 34%;
	margin: 7px auto;
}
.bottom-left h3 {
	margin: 18px 0px 0px 0px;
}
}
@media(max-width:480px){
.top {
	padding: 7px 8px;
	width: 45%;
}
.logo img {
	width: 30%;
}
.bottom-left ul li {
	width: 47%;
	margin: 8px auto;
}
.d-1 h6 {
	font-size: 1.6em;
}
.bttn {
	padding: 9px 0px 17px 6px;
	width: 50%;
}
.bottom-left {
	margin-top: 5%;
}
.bottom-left h3 {
	margin: 15px 0px 0px 0px;
}
.bottom-left ul {
	margin: 12px 0px 2.5em 0px;
}
.bottom-middle {
	margin: 20px 0px 6px 0px;
}
}
/*--mediaquaries-endss-Here--*/

.logo > a {
	font-size: 52px;
	font-family: "Oswald";
	color: White;
}

.logo > a > i {
	font-size: 64px;
}

h1, h2, .categories {
	font-family: "Oswald";
	text-transform: uppercase;
}

p.footer-text {
	font-size: 14px !important;
	color: White !important;
}

p.footer-text > a {
	color: #DE7004;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

.header {
	padding-bottom: 80px;
}

.footer {
	position: absolute !important;
	bottom: 0px !important;
	width: 100%;
	margin-bottom: 0px;
	opacity: 0.9;
}

a:hover {
	text-decoration: none;
}

.form-control, .input-group-addon {
	border-width: 0px;
}

.input-group-addon {
	background: rgba(255, 255, 255, 0.25);
}

.paragraph {
	text-align: justify;
}

a:hover, a:active, a:focus {
	outline: 0px;
}

.header {
	background: url(../images/banner.jpg) no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100%;
}

.question-area {
	margin-top: 25px;
	padding: 25px;
	background: rgba(255, 255, 255, 0.15);
	color: White;
}

.question {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

.question-hidden {
	display: none;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

.question-title {
	text-align: left;
	font-family: "Oswald";
	text-transform: uppercase;
	margin-bottom: 25px;
	margin-left: 10px;
	font-size: 24px;
}

.questions-progress, .question-buttons {
	text-align: center;
	margin-top: 25px;
	opacity: 0.75;
}

.questions-progress > i {
	cursor: pointer;
}

.tile {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.15);
	padding: 10px;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

.tile:not(.selected):hover {
	background: rgba(255, 255, 255, 0.25);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

.selected {
	background: rgba(255, 255, 255, 0.5);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

.result {
	padding: 20px;
}

td {
	vertical-align: middle !important;
}

td > a, td > h3 > a {
	color: White;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

td > a:hover, td > h3 > a:hover {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

#result {
	display: none;
}

.categories-list {
	text-align: justify;
	font-size: 14px;
}

.categories-list > a {
	color: White !important;
}